RewriteEngine On

Satisfy Any
# This will enable the Rewrite capabilities

RewriteCond %{HTTPS} !=on
# This checks to make sure the connection is not already HTTPS

RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
# This rule will redirect users from their original location, to the same location but using HTTPS.
# i.e.  http://www.example.com/foo/ to https://www.example.com/foo/
# The leading slash is made optional so that this will work either in httpd.conf
# or .htaccess context

#RewriteCond %{HTTP_HOST} ^www\.maths\.cz [nc]

#RewriteRule (.*) http://maths.cz/$1 [R=301,L]





ErrorDocument 404 /index.php?akce=404



RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^clanky/(.*\.html)$ index.php?akce=ukaz_clanek&id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^nastaveni(/.*)?$ index.php?akce=nastaveni_uctu&sekce=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^kategorie/(.*\.html)$ index.php?akce=mapa_webu&kategorie=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^hlavolamy/(.*\.html)$ index.php?akce=hadanky&hlavolam=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^redaktor/(.*\.html)$ index.php?akce=redakce&autor=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^uzivatel/(.*\.html)$ index.php?akce=redakce&autor=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^akce/(.*) index.php?akce=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^testy/(.*)$ index.php?akce=zkouseni&test=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^reseni/(.*)$ index.php?akce=zkouseni&reseni=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^oprav/(.*)$ index.php?akce=zkouseni&oprav=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^registrace/?(.*)$ index.php?akce=reg&$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^karta/?(.*)\.html$ index.php?akce=uzivatel&uzivatel=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^mapa-webu/?(.*)$ index.php?akce=mapa-webu&kategorie=$1 [L]



ErrorDocument 404 /index.php?akce=404

